<div class="menu">
  <div class="menu-logo">
    <img src="../assets/horizontal.png" alt="">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Paquetes</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>
  <button>Agenda tu cita</button>
</div>
<section class="header">
  <div class="header-text">
    <h4>FISIOTERAPIA DEPORTIVA</h4>
    <h1>A TU ALCANCE</h1>
  </div>
</section>
<section class="power">
  <div class="power-content container">
    <div class="power-text">
      <div class="power-line">
        <div class="power-line-title">
          <img src="../assets/responsive.png" alt="">
          <h2>Mejora tu rendimiento</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a enim nec nisl ullamcorper eleifend. Praesent risus leo, fringilla et nulla at, egestas euismod orci. </p>
      </div>
      <div class="power-line">
        <div class="power-line-title">
          <img src="../assets/responsive.png" alt="">
          <h2>Entrena sin dolor</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a enim nec nisl ullamcorper eleifend. Praesent risus leo, fringilla et nulla at, egestas euismod orci. </p>
      </div>
      <div class="power-line">
        <div class="power-line-title">
          <img src="../assets/responsive.png" alt="">
          <h2>Potencializate</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a enim nec nisl ullamcorper eleifend. Praesent risus leo, fringilla et nulla at, egestas euismod orci. </p>
      </div>
  </div>
    <img src="../assets/power.png" alt="">
  </div>
</section>
<section class="ourservices">
  <div class="ourservices-title">
    <h2>Nuestros servicios</h2>
  </div>
  <div class="ourservices-content container">
    <div>
      <img src="../assets/1.png" alt="">
      <h5>puncion seca</h5>
    </div>
    <div>
      <img src="../assets/2.png" alt="">
      <h5>Masajes</h5>
    </div>
    <div>
      <img src="../assets/3.png" alt="">
      <h5>Electroterapia</h5>
    </div>
    <div>
      <img src="../assets/4.png" alt="">
      <h5>Vibropercusion</h5>
    </div>
    <div>
      <img src="../assets/5.png" alt="">
      <h5>Presoterapia</h5>
    </div>
    <div>
      <img src="../assets/6.png" alt="">
      <h5>Kinesiologia</h5>
    </div>
    <div>
      <img src="../assets/7.png" alt="">
      <h5>Ventosaterapia</h5>
    </div>
  </div>
</section>
<section class="packs">
  <div class="packs-content container">
    <h2>Paquetes</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a enim nec nisl ullamcorper eleifend. Praesent risus leo, fringilla et nulla at, egestas euismod orci.</p>
    <div class="packs-our">
      <div class="packs-our-content">
        <div class="price">
          <span>Recuperacion Miembro Inferior</span>
          <p>$590.000</p>
        </div>
        <ul>
          <li>Evaluacion fisica + recomendaciones iniciales</li>
          <li>3 sesiones de Electroterapia </li>
          <li>3 sesiones ventosaterapia</li>
          <li>2 masajes de liberacione medio cuerpo </li>
          <li>1 masaje de liberacion cuerpo completo</li>
          <li>2 masajes con Gua Sha </li>
          <li>2 sesion de presoterapia</li>
          <li>1 sesion de vibropercusion</li>
          <li>1 sesion de puncion Seca</li>
        </ul>
        <button>agendar cita</button>
      </div>
      <div class="packs-our-content">
        <div class="price">
          <span>Recuperacion Miembro Superior</span>
          <p>$530.000</p>
        </div>
        <ul>
          <li>Evaluacion fisica + recomendaciones iniciales</li>
          <li>3 sesiones de Electroterapia </li>
          <li>3 sesiones ventosaterapia</li>
          <li>2 masajes de liberacione medio cuerpo </li>
          <li>1 masaje de liberacion cuerpo completo</li>
          <li>2 masajes con Gua Sha </li>
          <li>2 sesion de vibropercusion</li>
          <li>2 sesion de puncion Seca</li>
        </ul>
        <button>agendar cita</button>
      </div>
      <div class="packs-our-content">
        <div class="price">
          <p>Personalizado</p>
          <span>Todas las características de los planes anteriores además de las características personalizadas que necesites. 
          Se realizará un presupuesto ajustado a las necesidades de tu negocio.</span>
        </div>
        <button>Contacto</button>
      </div>
    </div>
  </div>
</section>
<section class="contact">
  <div class="contact-content container">
    <h2>Contacto</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a enim nec nisl ullamcorper eleifend. Praesent risus leo, fringilla et nulla at, egestas euismod orci.</p>
    <div class="contact-content-our">
      <div class="contact-text">
        <h5>Utiliza las siguientes vías de contacto, o rellena el formulario.</h5>
        <div class="contact-icon">
          <img src="../assets/inst.png" alt="">
          <p>myfisio.co</p>
        </div>
        <div class="contact-icon">
          <img src="../assets/what.png" alt="">
          <p>313 724 8297</p>
        </div>
        <div class="contact-icon">
          <img src="../assets/email.png" alt="">
          <p>info@myfisio.co</p>
        </div>
      </div>
      <div class="contact-input">
        <input placeholder="Escribe tu nombre" type="text">
        <input placeholder="Escribe tu email" type="email">
        <input placeholder="Escribe tu celular" type="tel">
        <input placeholder="Escribe tu mensaje" type="text">
      </div>
    </div>
  </div>
</section>