<div class="menu" [class.open]="menuOpen">
  <img alt=""
    class="menu-logo"
    src="./assets/horizontal.png"
    [routerLink]='"."'
    [fragment]="'/'"
    (click)="toggleMenu(false)">
  <ul class="menu-nav">
    <li><a [routerLink]='"."' [fragment]="'inicio'" (click)="toggleMenu(false)">Inicio</a></li>
    <li><a [routerLink]='"."' [fragment]="'servicios'" (click)="toggleMenu(false)">Servicios</a></li>
    <li><a [routerLink]='"."' [fragment]="'paquetes'" (click)="toggleMenu(false)">Paquetes</a></li>
    <li><a [routerLink]='"."' [fragment]="'contacto'" (click)="toggleMenu(false)">Contacto</a></li>
  </ul>
  <button class="menu-cta" (click)="onCalendlyOpen()">Agenda tu cita</button>
  <button class="menu-hamburger" (click)="toggleMenu()"></button>
</div>
<section class="header" id="/">
  <div class="header-text">
    <h4>FISIOTERAPIA DEPORTIVA</h4>
    <h1>A TU ALCANCE</h1>
  </div>
</section>

<section class="power" id="inicio">
  <div class="power-content container">
    <div class="power-text">
      <div class="power-line">
        <div class="power-line-title">
          <img class="power-line-title-icon" src="./assets/responsive.png" alt="">
          <h3>Mejora tu rendimiento</h3>
        </div>
        <p>De la mano de nuestros profesionales altamente capacitados te ayudamos a impulsar tus capacidades, generando así un aumento en tu rendimiento deportivo.</p>
      </div>
      <div class="power-line">
        <div class="power-line-title">
          <img class="power-line-title-icon" src="./assets/responsive.png" alt="">
          <h3>Entrena sin dolor</h3>
        </div>
        <p>En myfisio.co valoramos el movimiento, entendiendo el privilegio que es movernos sin dolencias. Por esto nos encargamos del reentrenamiento de este, tratando la raíz del problema.</p>
      </div>
      <div class="power-line">
        <div class="power-line-title">
          <img class="power-line-title-icon" src="./assets/responsive.png" alt="">
          <h3>Potencializate</h3>
        </div>
        <p>Todos los atletas, sin importar su deporte necesitan del entreno consciente y enfocado a sus metas. Desde myfisio.co te ayudamos a ser una mejor versión de ti en cada paso como atleta. Cuida tu cuerpo a cada paso del camino, para asi llegar a conocer tus limites de una manera sana.</p>
      </div>
  </div>
    <img class="power-content-image" src="./assets/power.png" alt="">
  </div>
</section>

<section [id]="'servicios'" class="ourservices">
  <div class="ourservices-title">
    <h2>Nuestros servicios</h2>
  </div>
  <div class="ourservices-content container">
    <div>
      <img src="./assets/1.png" alt="">
      <h5>puncion seca</h5>
    </div>
    <div>
      <img src="./assets/2.png" alt="">
      <h5>Masajes</h5>
    </div>
    <div>
      <img src="./assets/3.png" alt="">
      <h5>Electroterapia</h5>
    </div>
    <div>
      <img src="./assets/4.png" alt="">
      <h5>Vibropercusion</h5>
    </div>
    <div>
      <img src="./assets/5.png" alt="">
      <h5>Presoterapia</h5>
    </div>
    <div>
      <img src="./assets/6.png" alt="">
      <h5>Kinesiologia</h5>
    </div>
    <div>
      <img src="./assets/7.png" alt="">
      <h5>Terapia con ventosas</h5>
    </div>
  </div>
</section>

<section [id]="'paquetes'" class="packs">
  <div class="packs-content container">
    <h2>Paquetes</h2>
    <div class="packs-our">
      <div class="packs-our-content">
        <div class="packs-price">
          <h5>Recuperacion Miembro Inferior</h5>
          <p class="packs-price-tag">$590.000</p>
        </div>
        <ul>
          <li>Evaluacion física + recomendaciones iniciales</li>
          <li>3 sesiones de Electroterapia </li>
          <li>3 sesiones ventosaterapia</li>
          <li>2 masajes de liberación medio cuerpo </li>
          <li>1 masaje de liberación cuerpo completo</li>
          <li>2 masajes con Gua Sha </li>
          <li>2 sesión de presoterapia</li>
          <li>1 sesión de vibropercusión</li>
          <li>1 sesión de puncion Seca</li>
        </ul>
        <button (click)="onCalendlyOpen()">agenda tu cita</button>
      </div>
      <div class="packs-our-content">
        <div class="packs-price">
          <h5>Recuperacion Miembro Superior</h5>
          <p class="packs-price-tag">$530.000</p>
        </div>
        <ul>
          <li>Evaluacion física + recomendaciones iniciales</li>
          <li>3 sesiones de Electroterapia </li>
          <li>3 sesiones ventosaterapia</li>
          <li>2 masajes de liberación medio cuerpo </li>
          <li>1 masaje de liberación cuerpo completo</li>
          <li>2 masajes con Gua Sha </li>
          <li>2 sesión de vibropercusión</li>
          <li>2 sesión de puncion Seca</li>
        </ul>
        <button (click)="onCalendlyOpen()">agenda tu cita</button>
      </div>
      <div class="packs-our-content">
        <div class="packs-price">
          <h5>Personalizado</h5>
          <p>Todas las características de los paquetes anteriores además de las características personalizadas que necesites.</p>
        </div>
        <a class="button" href="https://wa.me/573137248297?text=Hola%2C%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n.">Contacto</a>
      </div>
    </div>
  </div>
</section>

<section [id]="'contacto'" class="contact">
  <div class="contact-content container">
    <h2>Contacto</h2>
    <div class="contact-content-our">
      <div class="contact-text">
        <h5>Utiliza las siguientes vías de contacto.</h5>
        <div class="contact-icon">
          <img src="./assets/inst.png" alt="">
          <p>
            <a href="https://www.instagram.com/myfisio.co" target="_blank">myfisio.co</a>
          </p>
        </div>
        <div class="contact-icon">
          <img src="./assets/what.png" alt="">
          <p>
            <a href="https://wa.me/573137248297?text=Hola%2C%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n." target="_blank">313 724 8297</a>
          </p>
        </div>
        <div class="contact-icon">
          <img src="./assets/email.png" alt="">
          <p>
            <a href="mailto:info@myfisio.co" target="_blank">info@myfisio.co</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-agenda></app-agenda>

<div class="calendly-container" [class.hidden]="!isCalendlyOpen">
  <span class="close-btn" (click)="onCalendlyClose()"></span>
  <div class="calendly-inline-widget" data-url="https://calendly.com/d/d2x-3s3-37x"></div>
</div>